
input[type='time']{
	width: 70%;
	max-width:100px;
	margin: 5px;
}

.mainDiv{
	padding: 30px;
	background-color: #ffffff;
    color:black;
	-webkit-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
	box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
	margin-bottom: 50px;
}

agm-map {
	height: 300px;
  }
/* span.label-checked{
	border-style: solid;
	border-width: 1px;
	font-size:18px;
} */

.days:not(:last-child){
	border-bottom: 0px;
}

  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
	  /* Force table to not be like tables anymore */
	  table, thead, tbody, th, td, tr { 
		  display: block; 
	  }
	  
	  /* Hide table headers (but not display: none;, for accessibility) */
	  thead tr { 
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
	  }
	  
	  tr { border: 1px solid #ccc; }
	  
	  td { 
		  /* Behave  like a "row" */
		  border: none;
		  border-bottom: 1px solid #eee; 
		  position: relative;
		  padding-left: 50%; 
	  }
	  
	  td:before { 
		  /* Now like a table header */
		  position: absolute;
		  /* Top/left values mimic padding */
		  top: 6px;
		  left: 6px;
		  width: 45%; 
		  padding-right: 10px; 
		  white-space: nowrap;
	  }
	  
	  /*
	  Label the data
	  */

  }
  @media (max-width:350px){
    h1{
      font-size:20px;
    }
    .mbr-hero__text{
      font-size:20px;
    }
  }