
	<section class="engine"><a href="#">using getgoing</a></section><section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted mbr-parallax-background" id="header1-1a" data-rv-view="448" style="background-image:url(assets/images/mbr-1619x1080.jpg);height:300px;">
			<div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left mbr-after-navbar" >		
					<div class="mbr-box__container mbr-section__container container">
							<div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
									<div class="row">
										<div class=" col-sm-6" >
											<div class="mbr-hero animated fadeInUp">
													<h3 class="mbr-hero__text">Using​ ​the​ ​GetGoing</h3>
													<p class="mbr-hero__subtext">This​ ​system​ ​will​ ​provide​ ​event​ ​organiser​ ​easy​ ​access​ ​to​ ​the​ ​services​ ​providers.​</p>
													​<p class="mbr-hero__subtext">This​ ​will​ ​help​ ​in​ ​the​ ​resource listing.​</p>
											</div>
											
									</div></div>
							</div></div>
					</div>
					<div class="mbr-arrow mbr-arrow--floating text-center">
							<div class="mbr-section__container container">
									<a class="mbr-arrow__link" href="#buttons1-1o"><i class="glyphicon glyphicon-menu-down"></i></a>
							</div>
					</div>
			</div>
	</section>
	
	<section class="mbr-section" id="buttons1-1o" data-rv-view="475" style="padding-top:50px;background-color: rgb(255, 255, 255);">
			<div class="mbr-section__container container mbr-section__container--middle">
					<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
									<div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-success" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
										true}" routerLink="/login">LOG IN</a> <a class="mbr-buttons__btn btn btn-lg btn-info" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
											true}" routerLink="/register">SIGN UP</a></div>
							</div>
					</div>
			</div>
	</section>
	

	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="pricing-table1-23" data-rv-view="28" style="background-color: rgb(255, 255, 255);">
		<h2>Reviews</h2>
		<div class="mbr-section__container mbr-section__container--std-top-padding container" style="padding-top: 93px; margin-bottom: 0px;">
			<div class="row">
				<div class="mbr-plan col-xs-12 mbr-plan--first col-md-3 col-sm-6">
					<div class="mbr-plan__box">
						<div class="mbr-plan__header">
							<div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
								<h3 class="mbr-header__text">Pavel</h3>
							</div>
						</div>
						<div class="mbr-plan__number">
							<div class="mbr-number mbr-number--price">
								<div class="mbr-number__num">
									<div class="mbr-number__group">
										<i *ngFor="let i of utilityService.getArray(1)" class="ace-icon fa fa-star orange"></i>
									</div>
								</div>
								<div class="mbr-number__caption">on April 5, 2018</div>
							</div>
						</div>
						<div class="mbr-plan__details" style="padding: 20px;">
							<p>Hidden beer garden. It's really spacious inside and the food is authentic and great. Huge beers of course. Definitely a good place to go for groups. You can even do a 4 person group shot off a ski.</p>
						</div>

					</div>
				</div>
				<div class="mbr-plan col-xs-12 mbr-plan--success col-md-3 col-sm-6">
					<div class="mbr-plan__box">
						<div class="mbr-plan__header">
							<div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
								<h3 class="mbr-header__text">Jackson</h3>
							</div>
						</div>
						<div class="mbr-plan__number">
							<div class="mbr-number mbr-number--price">
								<div class="mbr-number__num">
									<div class="mbr-number__group">
										<i *ngFor="let i of utilityService.getArray(3)" class="ace-icon fa fa-star orange"></i>
									</div>
								</div>
								<div class="mbr-number__caption">on January 25, 2018</div>
							</div>
						</div>
						<div class="mbr-plan__details" style="padding: 20px;">
							<p>Lots of beer and shot skis are super fun! Not too many cocktail options. The crowd is young and the vibe is lively so it's great to visit during a sporting event with a group of friends!</p>
						</div>
					</div>
				</div>
				<div class="mbr-plan col-xs-12 mbr-plan--danger mbr-plan--favorite col-md-3 col-sm-6">
					<div class="mbr-plan__box">
						<div class="mbr-plan__header">
							<div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
								<h3 class="mbr-header__text">Michael</h3>
							</div>
						</div>
						<div class="mbr-plan__number">
							<div class="mbr-number mbr-number--price">
								<div class="mbr-number__num">
									<div class="mbr-number__group">
										<i *ngFor="let i of utilityService.getArray(5)" class="ace-icon fa fa-star orange"></i>
									</div>
								</div>
								<div class="mbr-number__caption">on February 15, 2018</div>
							</div>
						</div>
						<div class="mbr-plan__details" style="padding: 20px;">
							<p>Good service.I have been here a few times and each time has been a blast. Peppy atmosphere and live music every time we go. Great for group events because they take reservations. I suggest</p>
						</div>
					</div>
				</div>
				<div class="mbr-plan col-xs-12 mbr-plan--warning mbr-plan--last col-md-3 col-sm-6">
					<div class="mbr-plan__box">
						<div class="mbr-plan__header">
							<div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
								<h3 class="mbr-header__text">Jang2003</h3>
							</div>
						</div>
						<div class="mbr-plan__number">
							<div class="mbr-number mbr-number--price">
								<div class="mbr-number__num">
									<div class="mbr-number__group">
										<i *ngFor="let i of utilityService.getArray(4)" class="ace-icon fa fa-star orange"></i>
									</div>
								</div>
								<div class="mbr-number__caption">on January 5, 2018</div>
							</div>
						</div>
						<div class="mbr-plan__details" style="padding: 20px;">
							<p>Our favorite Sunday place! All you can drink Caesars (bloody marys) on Sundays which you make your own. Definitely our fave, along with the mimosa tower which is always delicious. The food is </p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	