<div class="container-fluid maindiv">
	<div class="row">
		<h1 style="margin-top:50px;text-align:center;">Register</h1>
	</div>
	<div class= "row" style="margin:8px;vertical-align:center;">
		<div class="mbr-buttons mbr-buttons--center">
				<a class="mbr-buttons__btn btn btn-lg btn-warning" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/event/register">EVENT ORGANISER</a> 
				<a class="mbr-buttons__btn btn btn-lg btn-info" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/service/register">SERVICE PROVIDER</a>
			</div>
		</div>
	<div class="row">
</div>